// 公共样式
html,
body {
  margin: 0;
  padding: 0;
  background: #040404 url(./src/assets/images/bg-top.jpg) 50% 0 no-repeat;
  color: #4a4a4a;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
