.header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  z-index: 1;
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    pointer-events: none;
  }
  & > .overlay {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 60px;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    // & > .top {
    //   position: absolute;
    //   top: -60px;
    //   width: 100%;
    //   height: 60px;
    //   pointer-events: none;
    // }
  }
  & > .container {
    position: relative;
    max-width: 1520px;
    padding: 0 40px;
    margin: 0 auto;
    height: 60px;
    white-space: nowrap;
    & > .logo {
      position: relative;
      margin-right: 30px;
      display: inline-block;
      height: 60px;
      width: 75.06719px;
      vertical-align: baseline;
      color: #009ae4;
      &:hover {
        color: #00b6ff;
      }
      & > svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        fill: currentColor;
        pointer-events: none;
        left: 0;
        width: 100%;
        height: 34px;
        vertical-align: baseline;
      }
    }
    & > .menu {
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      & > .item {
        margin-right: 30px;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        color: white;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
        background: transparent;
        cursor: pointer;
        &:hover {
          color: #fff;
        }
        & > .arrow {
          position: relative;
          display: inline-block;
          width: 16px;
          height: 13px;
          margin-left: 2px;
          transition: all 200ms;
          & > svg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            fill: currentColor;
            pointer-events: none;
            height: 16px;
            top: auto;
            bottom: -0.05em;
          }
        }
        & > .arrow-down {
          transform: rotate(180deg);
          transform-origin: 50% 50%;
        }
      }
    }
    & > .profile {
      position: absolute;
      top: 0;
      right: 40px;
      bottom: 0;
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
    }
  }
}
